# Lecture 09: Relational Data
<div style="border: 1px double black; padding: 10px; margin: 10px">

**Goals for today's lecture:**
* Learn about [keys](#Keys)
* Different types of [relations](#Relations) between tables
* [Commands for joining related tables together](#Outer-joins)
</div>

We have already spent a lot of time analyzing the `flights` table. In fact, there are four other tables in `nycflights13` that contain related information about these flights:

In [4]:
print(airlines)

# A tibble: 16 x 2
   carrier name
   <chr>   <chr>
 1 9E      Endeavor Air Inc.
 2 AA      American Airlines Inc.
 3 AS      Alaska Airlines Inc.
 4 B6      JetBlue Airways
 5 DL      Delta Air Lines Inc.
 6 EV      ExpressJet Airlines Inc.
 7 F9      Frontier Airlines Inc.
 8 FL      AirTran Airways Corporation
 9 HA      Hawaiian Airlines Inc.
10 MQ      Envoy Air
11 OO      SkyWest Airlines Inc.
12 UA      United Air Lines Inc.
13 US      US Airways Inc.
14 VX      Virgin America
15 WN      Southwest Airlines Co.
16 YV      Mesa Airlines Inc.

In [5]:
airports %>% filter(faa == "DTW")

  faa name                   lat      lon       alt tz dst tzone
1 DTW Detroit Metro Wayne Co 42.21244 -83.35339 645 -5 A   America/New_York

In [6]:
print(planes)

# A tibble: 3,322 x 9
   tailnum  year type          manufacturer   model  engines seats speed engine
   <chr>   <int> <chr>         <chr>          <chr>    <int> <int> <int> <chr>
 1 N10156   2004 Fixed wing mâ€¦ EMBRAER        EMB-1â€¦       2    55    NA Turbo-â€¦
 2 N102UW   1998 Fixed wing mâ€¦ AIRBUS INDUSTâ€¦ A320-â€¦       2   182    NA Turbo-â€¦
 3 N103US   1999 Fixed wing mâ€¦ AIRBUS INDUSTâ€¦ A320-â€¦       2   182    NA Turbo-â€¦
 4 N104UW   1999 Fixed wing mâ€¦ AIRBUS INDUSTâ€¦ A320-â€¦       2   182    NA Turbo-â€¦
 5 N10575   2002 Fixed wing mâ€¦ EMBRAER        EMB-1â€¦       2    55    NA Turbo-â€¦
 6 N105UW   1999 Fixed wing mâ€¦ AIRBUS INDUSTâ€¦ A320-â€¦       2   182    NA Turbo-â€¦
 7 N107US   1999 Fixed wing mâ€¦ AIRBUS INDUSTâ€¦ A320-â€¦       2   182    NA Turbo-â€¦
 8 N108UW   1999 Fixed wing mâ€¦ AIRBUS INDUSTâ€¦ A320-â€¦       2   182    NA Turbo-â€¦
 9 N109UW   1999 Fixed wing mâ€¦ AIRBUS INDUSTâ€¦ A320-â€¦       2   182    NA Turbo-â€¦
10 N110UW   1999 Fixed wing mâ€¦ AIRBUS INDUSTâ€¦ A320-â€¦       2   182    NA Turbo-â€¦
# â€¦ with 3,312 more rows

In [7]:
print(weather)

# A tibble: 26,115 x 15
   origin  year month   day  hour  temp  dewp humid wind_dir wind_speed
   <chr>  <dbl> <dbl> <int> <int> <dbl> <dbl> <dbl>    <dbl>      <dbl>
 1 EWR     2013     1     1     1  39.0  26.1  59.4      270      10.4
 2 EWR     2013     1     1     2  39.0  27.0  61.6      250       8.06
 3 EWR     2013     1     1     3  39.0  28.0  64.4      240      11.5
 4 EWR     2013     1     1     4  39.9  28.0  62.2      250      12.7
 5 EWR     2013     1     1     5  39.0  28.0  64.4      260      12.7
 6 EWR     2013     1     1     6  37.9  28.0  67.2      240      11.5
 7 EWR     2013     1     1     7  39.0  28.0  64.4      240      15.0
 8 EWR     2013     1     1     8  39.9  28.0  62.2      250      10.4
 9 EWR     2013     1     1     9  39.9  28.0  62.2      260      15.0
10 EWR     2013     1     1    10  41    28.0  59.6      260      13.8
# â€¦ with 26,105 more rows, and 5 more variables: wind_gust <dbl>, precip <dbl>,
#   pressure <dbl>, visib <dbl>, time_hour <dttm>

Together these four tables form a *relational database*. The relationships can be graphed like so:
![table relationships](http://r4ds.had.co.nz/diagrams/relational-nycflights.png)

The particular relationships in this database are:
- `flights` connects to `planes` via `tailnum`.
- `flights` connects to `airlines` via `carrier`.
- `flights` connects to `airports` twice: via `origin` and `dest`.
- `flights` connects to `weather` via `origin` (the location), and `year`, `month`, `day` and `hour`.

## Keys
The "key" to understanding relational databases is... keys.

### Primary Key
A *primary key* is a variable (or set of variables) that uniquely identifies an observation in its own table: there is **at most** one row in the table that corresponds to any setting of the columns which comprise the key.

In the `planes` table, each airplane is identified by its `tailnum`:

In [8]:
print(planes)

# A tibble: 3,322 x 9
   tailnum  year type          manufacturer   model  engines seats speed engine
   <chr>   <int> <chr>         <chr>          <chr>    <int> <int> <int> <chr>
 1 N10156   2004 Fixed wing mâ€¦ EMBRAER        EMB-1â€¦       2    55    NA Turbo-â€¦
 2 N102UW   1998 Fixed wing mâ€¦ AIRBUS INDUSTâ€¦ A320-â€¦       2   182    NA Turbo-â€¦
 3 N103US   1999 Fixed wing mâ€¦ AIRBUS INDUSTâ€¦ A320-â€¦       2   182    NA Turbo-â€¦
 4 N104UW   1999 Fixed wing mâ€¦ AIRBUS INDUSTâ€¦ A320-â€¦       2   182    NA Turbo-â€¦
 5 N10575   2002 Fixed wing mâ€¦ EMBRAER        EMB-1â€¦       2    55    NA Turbo-â€¦
 6 N105UW   1999 Fixed wing mâ€¦ AIRBUS INDUSTâ€¦ A320-â€¦       2   182    NA Turbo-â€¦
 7 N107US   1999 Fixed wing mâ€¦ AIRBUS INDUSTâ€¦ A320-â€¦       2   182    NA Turbo-â€¦
 8 N108UW   1999 Fixed wing mâ€¦ AIRBUS INDUSTâ€¦ A320-â€¦       2   182    NA Turbo-â€¦
 9 N109UW   1999 Fixed wing mâ€¦ AIRBUS INDUSTâ€¦ A320-â€¦       2   182    NA Turbo-â€¦
10 N110UW   1999 Fixed wing mâ€¦ AIRBUS INDUSTâ€¦ A320-â€¦       2   182    NA Turbo-â€¦
# â€¦ with 3,312 more rows

The tail number of an airplane is assigned by a government agency and is unique: no two planes can have the same tail number. Thus, `tailnum` should be a primary key in this table. 

To check that one or more variables constitutes a primary key, we can group by those variables and then check that the number of distinct values equals the number of rows in the data set:

In [30]:
# planes %>% print
planes %>% summarize(n = n(), nd = n_distinct(tailnum))

  n    nd
1 3322 3322

Compare with `flights`, where tailnum does *not* uniquely identify each row. (There are many flights present for the same airplane.)

In [31]:
distinct(flights, tailnum) %>% print

# A tibble: 4,044 x 1
   tailnum
   <chr>
 1 N14228
 2 N24211
 3 N619AA
 4 N804JB
 5 N668DN
 6 N39463
 7 N516JB
 8 N829AS
 9 N593JB
10 N3ALAA
# â€¦ with 4,034 more rows

What is the primary key for the `flights` table?

In [39]:
flights %>% filter(is.na(tailnum)) %>% count(year, month, day, dep_time, tailnum)

    year month day dep_time tailnum n
1   2013 1      2  NA       NA       2
2   2013 1      3  NA       NA       2
3   2013 1      4  NA       NA       2
4   2013 1      5  NA       NA       1
5   2013 1      7  NA       NA       1
6   2013 1      8  NA       NA       1
7   2013 1      9  NA       NA       2
8   2013 1     10  NA       NA       2
9   2013 1     11  NA       NA       1
10  2013 1     12  NA       NA       2
11  2013 1     13  NA       NA       7
12  2013 1     14  NA       NA       1
13  2013 1     15  NA       NA       2
14  2013 1     16  NA       NA      24
15  2013 1     17  NA       NA       4
16  2013 1     18  NA       NA       3
17  2013 1     19  NA       NA       1
18  2013 1     20  NA       NA       1
19  2013 1     21  NA       NA       5
20  2013 1     22  NA       NA       3
21  2013 1     23  NA       NA       4
22  2013 1     24  NA       NA       4
23  2013 1     25  NA       NA      16
24  2013 1     26  NA       NA       2
25  2013 1     27  NA       NA       6
26  2013 1     28  NA       NA       8
27  2013 1     29  NA       NA       5
28  2013 1     30  NA       NA      25
29  2013 1     31  NA       NA      18
30  2013 2      1  NA       NA       1
â‹®   â‹®    â‹®     â‹®   â‹®        â‹®       â‹®
287 2013 11    20  NA       NA       1
288 2013 11    21  NA       NA       2
289 2013 11    22  NA       NA       2
290 2013 11    23  NA       NA       1
291 2013 11    24  NA       NA       2
292 2013 11    25  NA       NA       3
293 2013 11    26  NA       NA       2
294 2013 11    27  NA       NA       9
295 2013 12     1  NA       NA       3
296 2013 12     4  NA       NA       3
297 2013 12     5  NA       NA      37
298 2013 12     6  NA       NA      10
299 2013 12     7  NA       NA       4
300 2013 12     8  NA       NA      17
301 2013 12     9  NA       NA      12
302 2013 12    10  NA       NA      55
303 2013 12    11  NA       NA       4
304 2013 12    12  NA       NA       3
305 2013 12    13  NA       NA       2
306 2013 12    14  NA       NA      38
307 2013 12    15  NA       NA      21
308 2013 12    16  NA       NA       1
309 2013 12    17  NA       NA      27
310 2013 12    19  NA       NA       1
311 2013 12    20  NA       NA       3
312 2013 12    21  NA       NA       2
313 2013 12    23  NA       NA      10
314 2013 12    29  NA       NA       2
315 2013 12    30  NA       NA       4
316 2013 12    31  NA       NA      11

We might guess that `year`, `month`, `day`, and `tailnum` are sufficient to identify each row in `flights`, but this is not true:

In [12]:
flights %>% summarize(n=n(), nd=n_distinct(year, month, day, tailnum))

  n      nd
1 336776 251727

In fact, even restricting to the exact *minute* that an airplane departed is not sufficient:

In [13]:
flights %>% summarize(n=n(), nd=n_distinct(tailnum, time_hour, minute))

  n      nd
1 336776 336367

This says that there are certain airplanes that are marked as having departed more than once in the same year, month, day, hour and minute. We can inspect these rows as follows:

In [14]:
group_by(flights, tailnum, time_hour, minute) %>% count %>% filter(n>1) %>% arrange(tailnum, time_hour) %>% print

# A tibble: 298 x 4
# Groups:   tailnum, time_hour, minute [298]
   tailnum time_hour           minute     n
   <chr>   <dttm>               <dbl> <int>
 1 N11119  2013-06-10 16:00:00     55     2
 2 N11192  2013-08-26 08:00:00     30     2
 3 N12563  2013-02-04 16:00:00     19     2
 4 N12564  2013-01-13 20:00:00      0     2
 5 N12900  2013-07-10 21:00:00     29     2
 6 N13969  2013-01-28 07:00:00     59     2
 7 N14148  2013-03-12 06:00:00     30     2
 8 N14558  2013-04-19 13:00:00     29     2
 9 N14916  2013-02-11 13:00:00     15     2
10 N14974  2013-07-26 06:00:00     30     2
# â€¦ with 288 more rows

These likely indicate data entry errors.

## ðŸ¤” Quiz

What column(s) constitute a primary key in the `mpg` table?

<ol style="list-style-type: upper-alpha;">
    <li><code>manufacturer</code> and <code>model</code></li>
    <li><code>manufacturer</code>, <code>year</code>, and <code>model</code></li>
    <li><code>manufacturer</code>, <code>year</code>, <code>displ</code>, and <code>model</code></li>
    <li><code>manufacturer</code>, <code>year</code>, <code>displ</code>, <code>trans</code>, and <code>model</code></li>
    <li>None of these</li>
</ol>

In [35]:
# primary key in mpg

## Relations
A primary key and the corresponding foreign key in another table form a *relation*. Relations come in several forms:
- *One-to-many*. (Most common). For example, each flight has one plane, but each plane has many flights. 
- *Many-to-many*: For example, each airline flies to many airports; each airport hosts many airlines.
- *One-to-one*. Each row in one table corresponds uniquely to a row in a second table. This is relatively uncommon because you could just as easily combine the two tables into one.

In [38]:
x = tribble(
  ~key, ~val_x,
     1, "x1",
     2, "x2",
     3, "x3"
)
y = tribble(
  ~key, ~val_y,
     1, "y1",
     2, "y2",
     4, "y3"
)

In [39]:
x
y

  key val_x
1 1   x1
2 2   x2
3 3   x3

  key val_y
1 1   y1
2 2   y2
3 4   y3

## Joins
Joins are the way the we combine or "merge" two data tables based on keys.
To understand how joins work we'll study these two simple tables:
![simple tables](http://r4ds.had.co.nz/diagrams/join-setup.png)

### Inner joins
Inner joins match a pair of observations whenever their keys are equal:
![match example](https://r4ds.hadley.nz/diagrams/join/inner.png)

In [58]:
x %>% inner_join(y, by = "key")

Joining, by = "key"

  key val_x val_y
1 1   x1    y1
2 2   x2    y2

Note that there is no row for `key=3` or `key=4`: with an inner join, unmatched rows are not included in the result. For this reason, we do not as often use inner joins for data analysis since you can easily lose observations.

### Outer joins
An outer join keeps observations that appear in at least one of the tables. There are three types of outer joins:
- A left join keeps all observations in x.
- A right join keeps all observations in y.
- A full join keeps all observations in x and y.

![match example](https://r4ds.hadley.nz/diagrams/join/left.png)

![match example](https://r4ds.hadley.nz/diagrams/join/right.png)

![match example](https://r4ds.hadley.nz/diagrams/join/full.png)

Left joins are the most common. Use them to look up data in another table, but preserve your original observations when there in cases where the other table does not have a match.

### Example
The `flights` table has a `carrier` column which is a two-letter code for the airline. The `airlines` table maps these code to recognizable airline names. 

How many flighs are there per carrier in the dataset?

In [41]:
# flights per carrier

## ðŸ¤” Quiz

How many flights departing from EWR were operated by Envoy Air?

<ol style="list-style-type: upper-alpha;">
    <li>46087</li>
    <li>26397</li>
    <li>2276</li>
    <li>18460</li>
    <li>43939</li>
</ol>

In [57]:
# envoy flights from ewr

### Duplicate keys
Although we have defined keys in terms of uniqueness, it's not required that a key be unique. There are several possibilities:

##### One table has duplicate keys
This is useful when you want to add in additional information as there is typically a one-to-many relationship.
![duplicate keys](http://r4ds.had.co.nz/diagrams/join-one-to-many.png)

In fact, we already saw an example of this above when we joined `planes` to `flights`: each plane belongs to potentially many flights.

### Exercise
What is the most common model of airplane used by each carrier?

In [21]:
# most common model

Joining, by = "carrier"
Joining, by = c("year", "tailnum")

       year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1      2013 1     1   517      515             2         830      819
2      2013 1     1   533      529             4         850      830
3      2013 1     1   542      540             2         923      850
4      2013 1     1   544      545            -1        1004     1022
5      2013 1     1   554      600            -6         812      837
6      2013 1     1   554      558            -4         740      728
7      2013 1     1   555      600            -5         913      854
8      2013 1     1   557      600            -3         709      723
9      2013 1     1   557      600            -3         838      846
10     2013 1     1   558      600            -2         753      745
11     2013 1     1   558      600            -2         849      851
12     2013 1     1   558      600            -2         853      856
13     2013 1     1   558      600            -2         924      917
14     2013 1     1   558      600            -2         923      937
15     2013 1     1   559      600            -1         941      910
16     2013 1     1   559      559             0         702      706
17     2013 1     1   559      600            -1         854      902
18     2013 1     1   600      600             0         851      858
19     2013 1     1   600      600             0         837      825
20     2013 1     1   601      600             1         844      850
21     2013 1     1   602      610            -8         812      820
22     2013 1     1   602      605            -3         821      805
23     2013 1     1   606      610            -4         858      910
24     2013 1     1   606      610            -4         837      845
25     2013 1     1   607      607             0         858      915
26     2013 1     1   608      600             8         807      735
27     2013 1     1   611      600            11         945      931
28     2013 1     1   613      610             3         925      921
29     2013 1     1   615      615             0        1039     1100
30     2013 1     1   615      615             0         833      842
â‹®      â‹®    â‹®     â‹®   â‹®        â‹®              â‹®         â‹®        â‹®
336747 2013 9     30  2123     2125            -2       2223     2247
336748 2013 9     30  2127     2129            -2       2314     2323
336749 2013 9     30  2128     2130            -2       2328     2359
336750 2013 9     30  2129     2059            30       2230     2232
336751 2013 9     30  2131     2140            -9       2225     2255
336752 2013 9     30  2140     2140             0         10       40
336753 2013 9     30  2142     2129            13       2250     2239
336754 2013 9     30  2145     2145             0        115      140
336755 2013 9     30  2147     2137            10         30       27
336756 2013 9     30  2149     2156            -7       2245     2308
336757 2013 9     30  2150     2159            -9       2250     2306
336758 2013 9     30  2159     1845           194       2344     2030
336759 2013 9     30  2203     2205            -2       2339     2331
336760 2013 9     30  2207     2140            27       2257     2250
336761 2013 9     30  2211     2059            72       2339     2242
336762 2013 9     30  2231     2245           -14       2335     2356
       arr_delay carrier â‹¯ minute time_hour           name
1       11       UA      â‹¯ 15     2013-01-01 05:00:00 United Air Lines Inc.
2       20       UA      â‹¯ 29     2013-01-01 05:00:00 United Air Lines Inc.
3       33       AA      â‹¯ 40     2013-01-01 05:00:00 American Airlines Inc.
4      -18       B6      â‹¯ 45     2013-01-01 05:00:00 JetBlue Airways
5      -25       DL      â‹¯  0     2013-01-01 06:00:00 Delta Air Lines Inc.
6       12       UA      â‹¯ 58     2013-01-01 05:00:00 United Air Lines Inc.
7       19       B6      â‹¯  0     2013-01-01 06:00:00 JetBlue Airways
8      -14       EV      â‹¯  0     2013-01-01 06:00:00 ExpressJet Airlines Inc.
9       -8       B6      â‹¯  0     2013-01-01 06:00:00 JetBlue Airways
10       8       AA      â‹¯  0     2013-01-01 06:00:00 American Airlines Inc.
11      -2       B6      â‹¯  0     2013-01-01 06:00:00 JetBlue Airways
12      -3       B6      â‹¯  0     2013-01-01 06:00:00 JetBlue Airways
13       7       UA      â‹¯  0     2013-01-01 06:00:00 United Air Lines Inc.
14     -14       UA      â‹¯  0     2013-01-01 06:00:00 United Air Lines Inc.
15      31       AA      â‹¯  0     2013-01-01 06:00:00 American Airlines Inc.
16      -4       B6      â‹¯ 59     2013-01-01 05:00:00 JetBlue Airways
17      -8       UA      â‹¯  0     2013-01-01 06:00:00 United Air Lines Inc.
18      -7       B6      â‹¯  0     2013-01-01 06:00:00 JetBlue Airways
19      12       MQ      â‹¯  0     2013-01-01 06:00:00 Envoy Air
20      -6       B6      â‹¯  0     2013-01-01 06:00:00 JetBlue Airways
21      -8       DL      â‹¯ 10     2013-01-01 06:00:00 Delta Air Lines Inc.
22      16       MQ      â‹¯  5     2013-01-01 06:00:00 Envoy Air
23     -12       AA      â‹¯ 10     2013-01-01 06:00:00 American Airlines Inc.
24      -8       DL      â‹¯ 10     2013-01-01 06:00:00 Delta Air Lines Inc.
25     -17       UA      â‹¯  7     2013-01-01 06:00:00 United Air Lines Inc.
26      32       MQ      â‹¯  0     2013-01-01 06:00:00 Envoy Air
27      14       UA      â‹¯  0     2013-01-01 06:00:00 United Air Lines Inc.
28       4       B6      â‹¯ 10     2013-01-01 06:00:00 JetBlue Airways
29     -21       B6      â‹¯ 15     2013-01-01 06:00:00 JetBlue Airways
30      -9       DL      â‹¯ 15     2013-01-01 06:00:00 Delta Air Lines Inc.
â‹®      â‹®         â‹®       â‹± â‹®      â‹®                   â‹®
336747 -24       EV      â‹¯ 25     2013-09-30 21:00:00 ExpressJet Airlines Inc.
336748  -9       EV      â‹¯ 29     2013-09-30 21:00:00 ExpressJet Airlines Inc.
336749 -31       B6      â‹¯ 30     2013-09-30 21:00:00 JetBlue Airways
336750  -2       EV      â‹¯ 59     2013-09-30 20:00:00 ExpressJet Airlines Inc.
336751 -30       MQ      â‹¯ 40     2013-09-30 21:00:00 Envoy Air
336752 -30       AA      â‹¯ 40     2013-09-30 21:00:00 American Airlines Inc.
336753  11       EV      â‹¯ 29     2013-09-30 21:00:00 ExpressJet Airlines Inc.
336754 -25       B6      â‹¯ 45     2013-09-30 21:00:00 JetBlue Airways
336755   3       B6      â‹¯ 37     2013-09-30 21:00:00 JetBlue Airways
336756 -23       UA      â‹¯ 56     2013-09-30 21:00:00 United Air Lines Inc.
336757 -16       EV      â‹¯ 59     2013-09-30 21:00:00 ExpressJet Airlines Inc.
336758 194       9E      â‹¯ 45     2013-09-30 18:00:00 Endeavor Air Inc.
336759   8       EV      â‹¯  5     2013-09-30 22:00:00 ExpressJet Airlines Inc.
336760   7       MQ      â‹¯ 40     2013-09-30 21:00:00 Envoy Air
336761  57       EV      â‹¯ 59     2013-09-30 20:00:00 ExpressJet Airlines Inc.
336762 -21       B6      â‹¯ 45     2013-09-30 22:00:00 JetBlue Airways
       type                    manufacturer model           engines seats speed
1      NA                      NA           NA              NA      NA    NA
2      NA                      NA           NA              NA      NA    NA
3      NA                      NA           NA              NA      NA    NA
4      NA                      NA           NA              NA      NA    NA
5      NA                      NA           NA              NA      NA    NA
6      NA                      NA           NA              NA      NA    NA
7      NA                      NA           NA              NA      NA    NA
8      NA                      NA           NA              NA      NA    NA
9      NA                      NA           NA              NA      NA    NA
10     NA                      NA           NA              NA      NA    NA
11     NA                      NA           NA              NA      NA    NA
12     NA                      NA           NA              NA      NA    NA
13     NA                      NA           NA              NA      NA    NA
14     NA                      NA           NA              NA      NA    NA
15     NA                      NA           NA              NA      NA    NA
16     NA                      NA           NA              NA      NA    NA
17     NA                      NA           NA              NA      NA    NA
18     NA                      NA           NA              NA      NA    NA
19     NA                      NA           NA              NA      NA    NA
20     NA                      NA           NA              NA      NA    NA
21     NA                      NA           NA              NA      NA    NA
22     NA                      NA           NA              NA      NA    NA
23     NA                      NA           NA              NA      NA    NA
24     NA                      NA           NA              NA      NA    NA
25     NA                      NA           NA              NA      NA    NA
26     NA                      NA           NA              NA      NA    NA
27     NA                      NA           NA              NA      NA    NA
28     NA                      NA           NA              NA      NA    NA
29     NA                      NA           NA              NA      NA    NA
30     NA                      NA           NA              NA      NA    NA
â‹®      â‹®                       â‹®            â‹®               â‹®       â‹®     â‹®
336747 NA                      NA           NA              NA      NA    NA
336748 NA                      NA           NA              NA      NA    NA
336749 NA                      NA           NA              NA      NA    NA
336750 NA                      NA           NA              NA      NA    NA
336751 NA                      NA           NA              NA      NA    NA
336752 NA                      NA           NA              NA      NA    NA
336753 NA                      NA           NA              NA      NA    NA
336754 NA                      NA           NA              NA      NA    NA
336755 NA                      NA           NA              NA      NA    NA
336756 NA                      NA           NA              NA      NA    NA
336757 NA                      NA           NA              NA      NA    NA
336758 NA                      NA           NA              NA      NA    NA
336759 NA                      NA           NA              NA      NA    NA
336760 NA                      NA           NA              NA      NA    NA
336761 NA                      NA           NA              NA      NA    NA
336762 NA                      NA           NA              NA      NA    NA
       engine
1      NA
2      NA
3      NA
4      NA
5      NA
6      NA
7      NA
8      NA
9      NA
10     NA
11     NA
12     NA
13     NA
14     NA
15     NA
16     NA
17     NA
18     NA
19     NA
20     NA
21     NA
22     NA
23     NA
24     NA
25     NA
26     NA
27     NA
28     NA
29     NA
30     NA
â‹®      â‹®
336747 NA
336748 NA
336749 NA
336750 NA
336751 NA
336752 NA
336753 NA
336754 NA
336755 NA
336756 NA
336757 NA
336758 NA
336759 NA
336760 NA
336761 NA
336762 NA
 [ reached getOption("max.print") -- omitted 14 rows ]

##### Both tables have duplicate keys
This represents a many-to-many join and is usually an error since they key does not uniquely identify observations in either table. Joining duplicated keys results in the Cartesian product of all the possible matches:
![cartesian](http://r4ds.had.co.nz/diagrams/join-many-to-many.png)

Be careful when doing many-to-many merges. It's possible to generate huge tables by accident and crash R.

## ðŸ¤” Quiz
To understand what the weather conditions were when each flight departed, I will join the weather table to the first 100 rows of the flights table using the command

```
flights %>% slice(1:100) %>% left_join(weather, by=c("origin", "hour"))
```

How many rows does the resulting table have?

<ol style="list-style-type: upper-alpha;">
    <li>100</li>
    <li>36344</li>
    <li>336776</li>
    <li>Zero</li>
    <li><code>NA</code></li>
</ol>

In [59]:
# flights %>% slice(1:100) %>% left_join(weather, by=c("origin", "hour"))

### Defining the key columns
When we do a join using `left_join()`, R take as the key whatever column names the two tables have in common:

In [86]:
left_join(flights, planes) %>% print
   # select(year, month, day, origin, type, tailnum, manufacturer) %>% 
   # print

Joining, by = c("year", "tailnum")

# A tibble: 336,776 x 26
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# â€¦ with 336,766 more rows, and 18 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <int>, tailnum <chr>, origin <chr>, dest <chr>,
#   air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dttm>,
#   type <chr>, manufacturer <chr>, model <chr>, engines <int>, seats <int>,
#   speed <int>, engine <chr>

This is called a *natural join*. If the key column(s) are named differently in the two tables, we must specify the mapping between the two using the `key=` parameter.

Consider joining `airports` to `flights`:
```
> left_join(flights, airports)
Error: `by` required, because the data sources have no common variables
Traceback:

1. left_join(flights, airports)
2. left_join.tbl_df(flights, airports)
3. common_by(by, x, y)
4. common_by.NULL(by, x, y)
5. bad_args("by", "required, because the data sources have no common variables")
6. glubort(fmt_args(args), ..., .envir = .envir)
7. .abort(text)
```

This has produced an error, because airports and flights do not have any columns in common. Indeed, the three digit FAA code is called `faa` in `airports`, but appears as either `origin` or `dest` in `flights`. To fix the error, we must specify which of `origin` or `dest` should be matched:

In [83]:
# join_by

## ðŸ¤” Quiz

How many flights in February were bound for tropical destinations?

<ol style="list-style-type: upper-alpha;">
    <li>56</li>
    <li>18</li>
    <li>71</li>
    <li>39</li>
    <li>50</li>
</ol>

(Note: there is a quantitative definition of what it means for a location on Earth to be tropical. It does not have to do with sitting on the beach.)

In [82]:
# tropical flights

[1] 56

## Filtering joins

Filtering joins allow us to filter rows on one table based on their presence or absence in another table. We've already seen some examples of this on the problem sets:

In [61]:
dest_top6 <- count(flights, dest) %>% top_n(6)
filter(flights, dest %in% dest_top6$dest) %>% nrow

Selecting by n

[1] 94326

### Semi-join
`semi_join(x, y)` keeps all the observations in `x` that are also in `y`.
![semi join](http://r4ds.had.co.nz/diagrams/join-semi.png)

In [74]:
# find all the flight with destinations in the top 6

## ðŸ¤” Quiz
The top ten most popular days to fly were:

```count(flights, year, month, day) %>% top_n(10)```

What is the overall fraction of flights that left on these ten days?

<ol style="list-style-type: upper-alpha;">
    <li>0.024</li>
    <li>0.042</li>
    <li>1.000</li>
    <li>0.001</li>
    <li>0.039</li>
</ol>